USE [DM_YG1]
GO
/****** Object:  StoredProcedure [dm_yg1_scm].[PROC_FACT_PSI_INVEN_FLOW_TB]    Script Date: 2025-07-25 오후 12:32:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/****************************************************************************************************************
SP 명		: PROC_FACT_PSI_INVEN_FLOW_TB
SP 제목		: PSI FLOW Table Insert
최초작성자	: 최은수
최초작성일	: 2024.12.22

변경이력		: 변경일/변경자/요청자/요청일/내용	
			 

	
******************************************************************************************************************/
CREATE   PROCEDURE [dm_yg1_scm].[PROC_FACT_PSI_INVEN_FLOW_TB]
AS
BEGIN

	
	--공통변수
	DECLARE @SP_START_EXEC		DATETIME = GETDATE()	-- SP 실행시작시간
	DECLARE @INSERT_CNT	INT = 0			-- INSERT 건수
	DECLARE @UPDATE_CNT	INT = 0			-- UPDATE 건수
	DECLARE @DELETE_CNT	INT = 0			-- DELETE 건수
	DECLARE	@TABLE_NM	VARCHAR(50) = 'FACT_PSI_INVEN_FLOW_TB'	-- TARGET TABLE NAME
	DECLARE @ERR_MSG	VARCHAR(4000)
	DECLARE @ERR_NUM	NVARCHAR(20)
	DECLARE @ERR_LINE	INT

	
	
	DECLARE @COMPANY_CD	VARCHAR(12)	= '1000'	-- 회사코드 (SAP 필드명 : BUKRS) 
	DECLARE @ERSDA INT =(SELECT MAX(ERSDA) FROM  DW_YG1.SCM.TB_DW_FACT_ZDWT016_Z25MM034)
	BEGIN TRY

	DELETE FROM dm_yg1_SCM.FACT_PSI_INVEN_FLOW_TB
	WHERE SAP_LOAD_DATE =@ERSDA
	SET @DELETE_CNT=@@ROWCOUNT;



	WITH INVENTORY AS(

	SELECT 
		A.MANDT,DATEFROMPARTS(A.ERSDA/10000,(A.ERSDA/100)%100,A.ERSDA%100) ERSDA,A.MATNR,A.WERKS,A.LGORT,REGION,
		A.MAKTX, A.MTART,A.LIFNR,A.VTEXT,
		A.ATP_QTY,
		A.LABST

	FROM DW_YG1.SCM.TB_DW_FACT_ZDWT016_Z25MM034 A WITH(NOLOCK)
	JOIN DW_YG1.SCM.TB_DW_PSI_INVEN_STD B WITH(NOLOCK)
	ON A.LGORT=B.LGORT
	WHERE A.LGORT>2100
	AND A.LGORT<>3001
	AND A.ERSDA=@ERSDA
	UNION ALL
	SELECT A.MANDT,DATEFROMPARTS(A.ERSDA/10000,(A.ERSDA/100)%100,A.ERSDA%100) ERSDA,A.MATNR,A.WERKS,A.LGORT,DOMAIN,
		A.MAKTX, A.MTART,A.LIFNR,A.VTEXT,
		RATIO*A.ATP_QTY,
		RATIO*A.LABST

	FROM DW_YG1.SCM.TB_DW_FACT_ZDWT016_Z25MM034 A WITH(NOLOCK)
	JOIN DW_YG1.SCM.VW_PSI_RATIO_VIEW B WITH(NOLOCK)
	ON A.ERSDA=B.ERSDA AND A.MANDT=B.MANDT AND A.MATNR=B.MATNR
	WHERE A.LGORT=3001
	AND A.ERSDA=@ERSDA

	), ORDER_DATA AS(

	SELECT MANDT,DATEFROMPARTS(A.ERSDA/10000,(A.ERSDA/100)%100,A.ERSDA%100) ERSDA,MATNR,
	CASE WHEN VTWEG=10 THEN '국내' 
		WHEN VTWEG=20 THEN '해외'
		ELSE '해외' END REGION ,
		KWMENG,
		CASE WHEN BSTDK_E>0 THEN DATEFROMPARTS(BSTDK_E/10000,(BSTDK_E/100)%100,BSTDK_E%100)
		ELSE DATEADD(WEEK,6,DATEFROMPARTS(AUDAT/10000,(AUDAT/100)%100,AUDAT%100)) END SRDD

	FROM 
	DW_YG1.SCM.TB_DW_FACT_ZDWT010_Z25SD003 A WITH(NOLOCK)
	WHERE 1=1
	AND A.ERSDA=@ERSDA
	--UNION ALL
	--SELECT *
	--FROM DW_YG1.SCM.TB_DW_FACT_ZDWT011_Z25PP016

	), PO AS (

	SELECT A.MANDT,DATEFROMPARTS(A.ERSDA/10000,(A.ERSDA/100)%100,A.ERSDA%100) ERSDA,A.MATNR,A.WERKS,B.DOMAIN REGION ,SUM(GAMNG*B.RATIO) GAMNG ,DATEADD(WEEK,6,DATEFROMPARTS(ERDAT/10000,(ERDAT/100)%100,ERDAT%100)) as PRDD

	FROM DW_YG1.SCM.TB_DW_DIM_ZDWT005_COOIS A WITH(NOLOCK)
	JOIN DW_YG1.SCM.[VW_PSI_RATIO_VIEW] B WITH(NOLOCK)
	ON A.MANDT=B.MANDT AND A.ERSDA=B.ERSDA AND A.MATNR=B.MATNR
	WHERE 1=1
	AND DISPO LIKE 'CO%' 
	AND A.ERSDA=@ERSDA
	GROUP BY A.MANDT,A.ERSDA,A.MATNR,A.WERKS,B.DOMAIN,ERDAT
	)
	,INVENSUM AS (
	SELECT MANDT,ERSDA,MATNR, REGION,'재고' as PRJTYPE, SUM(ATP_QTY) as VAL
	FROM INVENTORY 
	GROUP BY MANDT,ERSDA,MATNR,REGION
	
	)
	SELECT *
	INTO #INVENSUM
	FROM INVENSUM
	;

	WITH INVENTORY AS(

	SELECT 
		A.MANDT,DATEFROMPARTS(A.ERSDA/10000,(A.ERSDA/100)%100,A.ERSDA%100) ERSDA,A.MATNR,A.WERKS,A.LGORT,REGION,
		A.MAKTX, A.MTART,A.LIFNR,A.VTEXT,
		A.ATP_QTY,
		A.LABST

	FROM DW_YG1.SCM.TB_DW_FACT_ZDWT016_Z25MM034 A WITH(NOLOCK)
	JOIN DW_YG1.SCM.TB_DW_PSI_INVEN_STD B WITH(NOLOCK)
	ON A.LGORT=B.LGORT
	WHERE A.LGORT>2100
	AND A.LGORT<>3001
	AND A.ERSDA=@ERSDA
	UNION ALL
	SELECT A.MANDT,DATEFROMPARTS(A.ERSDA/10000,(A.ERSDA/100)%100,A.ERSDA%100) ERSDA,A.MATNR,A.WERKS,A.LGORT,DOMAIN,
		A.MAKTX, A.MTART,A.LIFNR,A.VTEXT,
		RATIO*A.ATP_QTY,
		RATIO*A.LABST

	FROM DW_YG1.SCM.TB_DW_FACT_ZDWT016_Z25MM034 A WITH(NOLOCK)
	JOIN DW_YG1.SCM.VW_PSI_RATIO_VIEW B WITH(NOLOCK)
	ON A.ERSDA=B.ERSDA AND A.MANDT=B.MANDT AND A.MATNR=B.MATNR
	WHERE A.LGORT=3001
	AND A.ERSDA=@ERSDA

	), ORDER_DATA AS(

	SELECT MANDT,DATEFROMPARTS(A.ERSDA/10000,(A.ERSDA/100)%100,A.ERSDA%100) ERSDA,MATNR,
	CASE WHEN VTWEG=10 THEN '국내' 
		WHEN VTWEG=20 THEN '해외'
		ELSE '해외' END REGION ,
		KWMENG,
		CASE WHEN BSTDK_E>0 THEN DATEFROMPARTS(BSTDK_E/10000,(BSTDK_E/100)%100,BSTDK_E%100)
		ELSE DATEADD(WEEK,6,DATEFROMPARTS(AUDAT/10000,(AUDAT/100)%100,AUDAT%100)) END SRDD

	FROM DW_YG1.SCM.TB_DW_FACT_ZDWT010_Z25SD003 A WITH(NOLOCK)
	WHERE ERSDA=@ERSDA
	--UNION ALL
	--SELECT *
	--FROM DW_YG1.SCM.TB_DW_FACT_ZDWT011_Z25PP016

	), PO AS (

	SELECT A.MANDT,DATEFROMPARTS(A.ERSDA/10000,(A.ERSDA/100)%100,A.ERSDA%100) ERSDA,A.MATNR,A.WERKS,B.DOMAIN REGION ,SUM(GAMNG*B.RATIO) GAMNG ,FINALRDD as PRDD

	FROM (

	SELECT 
	*,
	CASE WHEN RDD>GSTRI2 THEN GSTRI2 ELSE RDD END as FINALRDD

	FROM(
	SELECT 
	*,
	
	
	DATEADD(WEEK,6,DATEFROMPARTS(ERDAT/10000,(ERDAT/100)%100,ERDAT%100)) RDD,
	CASE WHEN GSTRI>0 THEN DATEFROMPARTS(A.GSTRI/10000,(A.GSTRI/100)%100,A.GSTRI%100) ELSE NULL END  GSTRI2
	FROM DW_YG1.SCM.TB_DW_DIM_ZDWT005_COOIS A WITH(NOLOCK)
	) A) A
	JOIN DW_YG1.SCM.[VW_PSI_RATIO_VIEW] B WITH(NOLOCK)
	ON A.MANDT=B.MANDT AND A.ERSDA=B.ERSDA AND A.MATNR=B.MATNR
	WHERE DISPO LIKE 'CO%' 
	AND A.ERSDA=@ERSDA
	GROUP BY A.MANDT,A.ERSDA,A.MATNR,A.WERKS,B.DOMAIN,ERDAT,FINALRDD
	)
	,INVENSUM AS (
	SELECT MANDT,ERSDA,MATNR, REGION,'재고' as PRJTYPE, SUM(ATP_QTY) as VAL
	FROM INVENTORY
	GROUP BY MANDT,ERSDA,MATNR,REGION
	
	),MAIN AS(

	SELECT A.*,
	B.RDDWEEK ,B.KWMENG as INVENMINUS,C.GAMNG AS INVENPLUS

	FROM INVENSUM A
	LEFT OUTER JOIN(

	SELECT DATEDIFF(WEEK,SRDD,ERSDA) as RDDWEEK,
	MANDT,ERSDA,MATNR,REGION,SUM(KWMENG) AS KWMENG
	FROM ORDER_DATA A
	--WHERE DATEDIFF(WEEK,SRDD,ERSDA) BETWEEN 0 AND 6
	GROUP BY DATEDIFF(WEEK,SRDD,ERSDA),
	MANDT,ERSDA,MATNR,REGION
	) B
	ON A.MANDT=B.MANDT AND A.ERSDA=B.ERSDA AND A.MATNR=B.MATNR AND A.REGION=B.REGION
	LEFT OUTER JOIN(
	
	SELECT DATEDIFF(WEEK,PRDD,ERSDA) as RDDWEEK,
	MANDT,ERSDA,MATNR,REGION,SUM(GAMNG) AS GAMNG
	FROM PO A
	--WHERE DATEDIFF(WEEK,PRDD,ERSDA) BETWEEN 0 AND 6
	GROUP BY DATEDIFF(WEEK,PRDD,ERSDA),
	MANDT,ERSDA,MATNR,REGION
	
	) C
	ON A.MANDT=C.MANDT AND A.ERSDA=C.ERSDA AND A.MATNR=C.MATNR AND A.REGION=C.REGION
	AND B.RDDWEEK=C.RDDWEEK


	)
	SELECT *
	INTO #MAIN
	FROM MAIN;








	INSERT INTO [dm_yg1_scm].[FACT_PSI_INVEN_FLOW_TB]
           ([CLIENT]
           ,[SAP_LOAD_DATE]
           ,[ERSDA]
           ,[MATNR]
           ,[REGION]
           ,[CurrentINVEN]
           ,[0WeekINVEN]
           ,[1WeekINVEN]
           ,[2WeekINVEN]
           ,[3WeekINVEN]
           ,[4WeekINVEN]
           ,[5WeekINVEN]
           ,[6WeekINVEN]
           ,[7WeekINVEN]
           ,[8WeekINVEN]
           ,[9WeekINVEN]
           ,[10WeekINVEN]
           ,[11WeekINVEN]
           ,[12WeekINVEN]
           ,[0WeekPROD]
           ,[1WeekPROD]
           ,[2WeekPROD]
           ,[3WeekPROD]
           ,[4WeekPROD]
           ,[5WeekPROD]
           ,[6WeekPROD]
           ,[7WeekPROD]
           ,[8WeekPROD]
           ,[9WeekPROD]
           ,[10WeekPROD]
           ,[11WeekPROD]
           ,[12WeekPROD]
           ,[0WeekSales]
           ,[1WeekSales]
           ,[2WeekSales]
           ,[3WeekSales]
           ,[4WeekSales]
           ,[5WeekSales]
           ,[6WeekSales]
           ,[7WeekSales]
           ,[8WeekSales]
           ,[9WeekSales]
           ,[10WeekSales]
           ,[11WeekSales]
           ,[12WeekSales]
           ,[PENDING_PROD]
           ,[PENDING_SALES]
           ,[ETL_DATE]
		   )

	SELECT A.MANDT AS CLIENT
	,FORMAT(A.ERSDA,'yyyyMMdd') AS SAP_LOAD_DATE
	,A.ERSDA
	,A.MATNR
	,A.REGION
	,A.VAL CurrentINVEN
	,A.VAL+	ISNULL(	B0.INVENPLUS,0)-ISNULL(	B0.INVENMINUS	,0)	as [0WeekINVEN]
	,A.VAL+	ISNULL(	B1.INVENPLUS,0)-ISNULL(	B1.INVENMINUS	,0)	as [1WeekINVEN]
	,A.VAL+	ISNULL(	B2.INVENPLUS,0)-ISNULL(	B2.INVENMINUS	,0)	as [2WeekINVEN]
	,A.VAL+	ISNULL(	B3.INVENPLUS,0)-ISNULL(	B3.INVENMINUS	,0)	as [3WeekINVEN]
	,A.VAL+	ISNULL(	B4.INVENPLUS,0)-ISNULL(	B4.INVENMINUS	,0)	as [4WeekINVEN]
	,A.VAL+	ISNULL(	B5.INVENPLUS,0)-ISNULL(	B5.INVENMINUS	,0)	as [5WeekINVEN]
	,A.VAL+	ISNULL(	B6.INVENPLUS,0)-ISNULL(	B6.INVENMINUS	,0)	as [6WeekINVEN]
	,A.VAL+	ISNULL(	B7.INVENPLUS	,0)-ISNULL(	B7.INVENMINUS	,0)	as [7WeekINVEN]
	,A.VAL+	ISNULL(	B8.INVENPLUS	,0)-ISNULL(	B8.INVENMINUS	,0)	as [8WeekINVEN]
	,A.VAL+	ISNULL(	B9.INVENPLUS	,0)-ISNULL(	B9.INVENMINUS	,0)	as [9WeekINVEN]
	,A.VAL+	ISNULL(	B10.INVENPLUS	,0)-ISNULL(	B10.INVENMINUS	,0)	as [10WeekINVEN]
	,A.VAL+	ISNULL(	B11.INVENPLUS	,0)-ISNULL(	B11.INVENMINUS	,0)	as [11WeekINVEN]
	,A.VAL+	ISNULL(	B12.INVENPLUS	,0)-ISNULL(	B12.INVENMINUS	,0)	as [12WeekINVEN]
	,ISNULL(	B0.INVENPLUS,0) [0WeekPROD]
	,ISNULL(	B1.INVENPLUS,0) [1WeekPROD]
	,ISNULL(	B2.INVENPLUS,0) [2WeekPROD]
	,ISNULL(	B3.INVENPLUS,0) [3WeekPROD]
	,ISNULL(	B4.INVENPLUS,0) [4WeekPROD]
	,ISNULL(	B5.INVENPLUS,0) [5WeekPROD]
	,ISNULL(	B6.INVENPLUS,0) [6WeekPROD]
	,ISNULL(	B7.INVENPLUS	,0) [7WeekPROD]
	,ISNULL(	B8.INVENPLUS	,0) [8WeekPROD]
	,ISNULL(	B9.INVENPLUS	,0) [9WeekPROD]
	,ISNULL(	B10.INVENPLUS	,0) [10WeekPROD]
	,ISNULL(	B11.INVENPLUS	,0) [11WeekPROD]
	,ISNULL(	B12.INVENPLUS	,0) [12WeekPROD]

	,ISNULL(	B0.INVENMINUS	,0) [0WeekSales]
	,ISNULL(	B1.INVENMINUS	,0) [1WeekSales]
	,ISNULL(	B2.INVENMINUS	,0) [2WeekSales]
	,ISNULL(	B3.INVENMINUS	,0) [3WeekSales]
	,ISNULL(	B4.INVENMINUS	,0) [4WeekSales]
	,ISNULL(	B5.INVENMINUS	,0) [5WeekSales]
	,ISNULL(	B6.INVENMINUS	,0) [6WeekSales]
	,ISNULL(	B7.INVENMINUS	,0) [7WeekSales]
	,ISNULL(	B8.INVENMINUS	,0) [8WeekSales]
	,ISNULL(	B9.INVENMINUS	,0) [9WeekSales]
	,ISNULL(	B10.INVENMINUS	,0) [10WeekSales]
	,ISNULL(	B11.INVENMINUS	,0) [11WeekSales]
	,ISNULL(	B12.INVENMINUS	,0) [12WeekSales]
	,ISNULL(	BPENDING.INVENPLUS	,0) PENDING_PROD
	,ISNULL(	BPENDING.INVENMINUS	,0) PENDING_SALES
	,getdate() ETL_DATE

	


	FROM #INVENSUM A
	LEFT OUTER JOIN (SELECT * FROM #MAIN WHERE RDDWEEK=0) B0
	ON A.ERSDA=B0.ERSDA AND A.MANDT=B0.MANDT AND A.MATNR=B0.MATNR AND A.REGION=B0.REGION
	LEFT OUTER JOIN (SELECT * FROM #MAIN WHERE RDDWEEK=1) B1
	ON A.ERSDA=B1.ERSDA AND A.MANDT=B1.MANDT AND A.MATNR=B1.MATNR AND A.REGION=B1.REGION
	LEFT OUTER JOIN (SELECT * FROM #MAIN WHERE RDDWEEK=2) B2
	ON A.ERSDA=B2.ERSDA AND A.MANDT=B2.MANDT AND A.MATNR=B2.MATNR AND A.REGION=B2.REGION
	LEFT OUTER JOIN (SELECT * FROM #MAIN WHERE RDDWEEK=3) B3
	ON A.ERSDA=B3.ERSDA AND A.MANDT=B3.MANDT AND A.MATNR=B3.MATNR AND A.REGION=B3.REGION
	LEFT OUTER JOIN (SELECT * FROM #MAIN WHERE RDDWEEK=4) B4
	ON A.ERSDA=B4.ERSDA AND A.MANDT=B4.MANDT AND A.MATNR=B4.MATNR AND A.REGION=B4.REGION
	LEFT OUTER JOIN (SELECT * FROM #MAIN WHERE RDDWEEK=5) B5
	ON A.ERSDA=B5.ERSDA AND A.MANDT=B5.MANDT AND A.MATNR=B5.MATNR AND A.REGION=B5.REGION
	LEFT OUTER JOIN (SELECT * FROM #MAIN WHERE RDDWEEK=6) B6
	ON	 A.ERSDA=B6.ERSDA	 AND A.MANDT=B6.MANDT	AND A.MATNR=B6.MATNR	 AND A.REGION=B6.REGION		
	LEFT OUTER JOIN 	(SELECT * FROM #MAIN WHERE RDDWEEK=7)	 B7				
	ON	 A.ERSDA=B7.ERSDA	 AND A.MANDT=B7.MANDT	AND A.MATNR=B7.MATNR	 AND A.REGION=B7.REGION		
	LEFT OUTER JOIN 	(SELECT * FROM #MAIN WHERE RDDWEEK=8)	 B8				
	ON	 A.ERSDA=B8.ERSDA	 AND A.MANDT=B8.MANDT	AND A.MATNR=B8.MATNR	 AND A.REGION=B8.REGION		
	LEFT OUTER JOIN 	(SELECT * FROM #MAIN WHERE RDDWEEK=9)	 B9				
	ON	 A.ERSDA=B9.ERSDA	 AND A.MANDT=B9.MANDT	AND A.MATNR=B9.MATNR	 AND A.REGION=B9.REGION		
	LEFT OUTER JOIN 	(SELECT * FROM #MAIN WHERE RDDWEEK=10)	 B10				
	ON	 A.ERSDA=B10.ERSDA	 AND A.MANDT=B10.MANDT	AND A.MATNR=B10.MATNR	 AND A.REGION=B10.REGION		
	LEFT OUTER JOIN 	(SELECT * FROM #MAIN WHERE RDDWEEK=11)	 B11				
	ON	 A.ERSDA=B11.ERSDA	 AND A.MANDT=B11.MANDT	AND A.MATNR=B11.MATNR	 AND A.REGION=B11.REGION		
	LEFT OUTER JOIN 	(SELECT * FROM #MAIN WHERE RDDWEEK=12)	 B12				
	ON	 A.ERSDA=B12.ERSDA	 AND A.MANDT=B12.MANDT	AND A.MATNR=B12.MATNR	 AND A.REGION=B12.REGION		
	LEFT OUTER JOIN 	(SELECT * FROM #MAIN WHERE RDDWEEK<0)	 BPENDING
	ON	 A.ERSDA=BPENDING.ERSDA	 AND A.MANDT=BPENDING.MANDT	AND A.MATNR=BPENDING.MATNR	 AND A.REGION=BPENDING.REGION		

	;
	

	SET @INSERT_CNT=@@ROWCOUNT;


	UPDATE B

	SET VTEXT=A.VTEXT,
	PRODH=C.PRDHA

	FROM dm_yg1_SCM.FACT_PSI_INVEN_FLOW_TB B
	JOIN DW_YG1.dbo.TB_DW_DIM_MARA C
	ON B.MATNR=C.MATNR
	JOIN DW_YG1.dbo.TB_DW_DIM_T179T A
	ON C.PRDHA=A.PRODH AND A.SPRAS='E'
	WHERE B.SAP_LOAD_DATE=@ERSDA;
	SET @UPDATE_CNT=@@ROWCOUNT;


		INSERT INTO DW_YG1.DBO.TB_ETL_LOG
					(DB_NM			, SP_NM							, TABLE_NM		, START_DATE		, END_DATE		
					, INSERT_CNT	, DELETE_CNT	, UPDATE_CNT	, SUCCEESS_YN	, ERR_MSG			, ERR_NUM	, ERR_LINE)
			VALUES	(DB_NAME()		, OBJECT_NAME(@@PROCID)			, @TABLE_NM		, @SP_START_EXEC	, GETDATE()
					, @INSERT_CNT	, @DELETE_CNT	, @UPDATE_CNT	, 'Y'			, NULL				, NULL		, NULL)
			
	END TRY

	BEGIN CATCH
			
		SET @ERR_MSG	= ERROR_MESSAGE()
		SET @ERR_NUM	= ERROR_NUMBER()
		SET @ERR_LINE	= ERROR_LINE()

		PRINT	@ERR_MSG
		
		INSERT INTO DW_YG1.DBO.TB_ETL_LOG
				(DB_NM			, SP_NM							, TABLE_NM		, START_DATE		, END_DATE		
				, INSERT_CNT	, DELETE_CNT	, UPDATE_CNT	, SUCCEESS_YN	, ERR_MSG			, ERR_NUM		, ERR_LINE)
		VALUES	(DB_NAME()		, OBJECT_NAME(@@PROCID)			, @TABLE_NM		, @SP_START_EXEC	, GETDATE()
				, @INSERT_CNT	, @DELETE_CNT	, @UPDATE_CNT	, 'N'			, ERROR_MESSAGE()	, ERROR_NUMBER(), ERROR_LINE());
	END CATCH
END

