USE [DM_YG1]
GO
/****** Object:  StoredProcedure [dm_yg1_scm].[PROC_FACT_PSI_INVENTORY_SUMMARY]    Script Date: 2025-07-25 오후 12:34:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/****************************************************************************************************************
SP 명		: PROC_FACT_PSI_INVENTORY_SUMMARY
SP 제목		: PSI FLOW Summary Table Insert
최초작성자	: 최은수
최초작성일	: 2024.12.22

	
******************************************************************************************************************/
CREATE   PROCEDURE [dm_yg1_scm].[PROC_FACT_PSI_INVENTORY_SUMMARY]
AS
BEGIN

	
	--공통변수
	DECLARE @SP_START_EXEC		DATETIME = GETDATE()	-- SP 실행시작시간
	DECLARE @INSERT_CNT	INT = 0			-- INSERT 건수
	DECLARE @UPDATE_CNT	INT = 0			-- UPDATE 건수
	DECLARE @DELETE_CNT	INT = 0			-- DELETE 건수
	DECLARE	@TABLE_NM	VARCHAR(50) = 'FACT_PSI_INVENTORY_SUMMARY'	-- TARGET TABLE NAME
	DECLARE @ERR_MSG	VARCHAR(4000)
	DECLARE @ERR_NUM	NVARCHAR(20)
	DECLARE @ERR_LINE	INT

	
	
	DECLARE @COMPANY_CD	VARCHAR(12)	= '1000'	-- 회사코드 (SAP 필드명 : BUKRS) 

	BEGIN TRY

	DELETE FROM DM_YG1.dm_yg1_scm.FACT_PSI_INVENTORY_SUMMARY
	WHERE SAP_LOAD_DATE IN (SELECT ERSDA
	FROM DW_YG1.SCM.TB_DW_FACT_ZDWT016_Z25MM034 WITH(NOLOCK)
	WHERE ERSDA=(SELECT MAX(ERSDA) FROM  DW_YG1.SCM.TB_DW_FACT_ZDWT016_Z25MM034 WITH(NOLOCK))
	)
	SET @DELETE_CNT=@@ROWCOUNT;


	WITH INVENTORY AS(

	SELECT 
		A.MANDT,DATEFROMPARTS(A.ERSDA/10000,(A.ERSDA/100)%100,A.ERSDA%100) ERSDA,A.MATNR,A.WERKS,A.LGORT,REGION,
		A.MAKTX, A.MTART,A.LIFNR,A.VTEXT,
		A.ATP_QTY,
		A.LABST

	FROM DW_YG1.SCM.TB_DW_FACT_ZDWT016_Z25MM034 A WITH(NOLOCK)
	JOIN DW_YG1.scm.TB_DW_PSI_INVEN_STD B WITH(NOLOCK)
	ON A.LGORT=B.LGORT
	WHERE A.LGORT>2100
	AND A.LGORT<>3001
	UNION ALL
	SELECT A.MANDT,DATEFROMPARTS(A.ERSDA/10000,(A.ERSDA/100)%100,A.ERSDA%100) ERSDA,A.MATNR,A.WERKS,A.LGORT,DOMAIN,
		A.MAKTX, A.MTART,A.LIFNR,A.VTEXT,
		RATIO*A.ATP_QTY,
		RATIO*A.LABST

	FROM DW_YG1.SCM.TB_DW_FACT_ZDWT016_Z25MM034 A WITH(NOLOCK)
	JOIN DW_YG1.scm.VW_PSI_RATIO_VIEW B WITH(NOLOCK)
	ON A.ERSDA=B.ERSDA AND A.MANDT=B.MANDT AND A.MATNR=B.MATNR
	WHERE A.LGORT=3001

	), ORDER_DATA AS(

	SELECT MANDT,DATEFROMPARTS(A.ERSDA/10000,(A.ERSDA/100)%100,A.ERSDA%100) ERSDA,MATNR,
	CASE WHEN VTWEG=10 THEN '국내' 
		WHEN VTWEG=20 THEN '해외'
		ELSE '해외' END REGION ,
		KWMENG,
		CASE WHEN BSTDK_E>0 THEN DATEFROMPARTS(BSTDK_E/10000,(BSTDK_E/100)%100,BSTDK_E%100)
		ELSE DATEADD(WEEK,6,DATEFROMPARTS(AUDAT/10000,(AUDAT/100)%100,AUDAT%100)) END SRDD

	FROM DW_YG1.Scm.TB_DW_FACT_ZDWT010_Z25SD003 A WITH(NOLOCK)
	--UNION ALL
	--SELECT *
	--FROM SCM.TB_DW_FACT_ZDWT011_Z25PP016

	)
	
	
	INSERT INTO DM_YG1.dm_yg1_scm.FACT_PSI_INVENTORY_SUMMARY
	SELECT MANDT as CLIENT ,
			FORMAT(ERSDA,'yyyyMMdd') as SAP_LOAD_DATE,
			ERSDA
			,MATNR, REGION,'재고' as PRJTYPE, SUM(ATP_QTY) as VAL 
	
	,@SP_START_EXEC AS ETL_DATE
	FROM INVENTORY
	GROUP BY MANDT,ERSDA,MATNR,REGION;


	SET @INSERT_CNT=@@ROWCOUNT





		SET @INSERT_CNT	= @@ROWCOUNT

		INSERT INTO DW_YG1.DBO.TB_ETL_LOG
					(DB_NM			, SP_NM							, TABLE_NM		, START_DATE		, END_DATE		
					, INSERT_CNT	, DELETE_CNT	, UPDATE_CNT	, SUCCEESS_YN	, ERR_MSG			, ERR_NUM	, ERR_LINE)
			VALUES	(DB_NAME()		, OBJECT_NAME(@@PROCID)			, @TABLE_NM		, @SP_START_EXEC	, GETDATE()
					, @INSERT_CNT	, @DELETE_CNT	, @UPDATE_CNT	, 'Y'			, NULL				, NULL		, NULL)
			
	END TRY

	BEGIN CATCH
			
		SET @ERR_MSG	= ERROR_MESSAGE()
		SET @ERR_NUM	= ERROR_NUMBER()
		SET @ERR_LINE	= ERROR_LINE()

		PRINT	@ERR_MSG
		
		INSERT INTO DW_YG1.DBO.TB_ETL_LOG
				(DB_NM			, SP_NM							, TABLE_NM		, START_DATE		, END_DATE		
				, INSERT_CNT	, DELETE_CNT	, UPDATE_CNT	, SUCCEESS_YN	, ERR_MSG			, ERR_NUM		, ERR_LINE)
		VALUES	(DB_NAME()		, OBJECT_NAME(@@PROCID)			, @TABLE_NM		, @SP_START_EXEC	, GETDATE()
				, @INSERT_CNT	, @DELETE_CNT	, @UPDATE_CNT	, 'N'			, ERROR_MESSAGE()	, ERROR_NUMBER(), ERROR_LINE());
	END CATCH
END

